.site-container {
    text-align: center;
    min-height: 100vh;
    font-size: calc(8px + 2vmin);
    background: url(../assets/flowerfix-background.svg) #454952 no-repeat center;
    background-size: 130vh;
}

.errors {
    color: red;
    font-weight: bold;
    font-size: 0.7em;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
