body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
input button {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

h1,
h2,
h3,
input {
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    font-weight: 200;
    color: rgb(89, 93, 97);
}

h6,
label {
    font-size: 0.5em;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
